<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
            <h1 class="text-center" >Multiplo</h1>

           
    <div class="container">
        <div class="jumbotron">
          
            <br>
            <div class="row">
                <div class="col-3">
                    <strong><label for="">Numero 1:</label></strong>
                    
                    <div class="form-group">
                        <input id="numero1" type="number" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <strong><label for="">Numero 2:</label></strong>
                    
                    <div class="form-group">
                        <input id="numero2" type="number" class="form-control">
                    </div>
                </div>
              
            
               
            </div>
            <div class="col-3">
                <div class="form-group">
                    <button id="btn" class="btn btn-primary" >Verificar</button>

                    <div class="mt-3" id="ZonePrint"> </div>
                </div>
            </div>
        </div>
    </div>

 

<script src="../js/app.js"></script>
</body>
</html>