<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <h1 class="text-center">Quien es mayor</h1>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Nombre : </label>
                        <input id="IpNombre1" type="text" class="form-control">
                    </div>                    
                </div>
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Edad : </label>
                        <input id="IpEdad1" type="number" class="form-control">
                    </div>                    
                </div>
            </div> 
            <div class="row">
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Nombre : </label>
                        <input id="IpNombre2" type="text" class="form-control">
                    </div>                    
                </div>
                <div class="col-3">

                    <div class="form-group">
                        <label for="">Edad : </label>
                        <input id="IpEdad2" type="number" class="form-control">
                    </div>                    
                </div>
            </div> 

            <button id="btn" class="btn btn-primary">Calcular</button>
            <div id="ImpriAlert" class="alert alert-primary mt-3"></div>
        </div>
    </div>


    <script src="../js/app.js"></script>
      
  </body>
</html>