<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="../img/129766.png">
    <title>La Brocha Gorda</title>
</head>
<body>
    
    <h1 class="text-center mmt-2">La brocha gorda</h1>
    
<div class="container">
    <div class="row">

<div class="col-12">

    <div class="form-group">
        <label for="">Teclea Nombre</label>
        <input id="name" type="text" class="form-control" placeholder="Nombre Del Cliente">


    </div>
</div>

    </div>
    <div class="row">

        <div class="col-12">
        
            <div class="form-group">
                <label for="">Teclea El Numero de metros de largo</label>

                <input id="MLargo" type="number" class="form-control" placeholder="Metros de largo">
        
        
            </div>
        
        </div>
        
            </div>
            <div class="row">

                <div class="col-12">
                
                    <div class="form-group">
                        <label for="">Teclea El Numero de metros de ancho</label>
        
                        <input id="MAncho" type="number" class="form-control" placeholder="Metros de ancho">
                
                
                    </div>
                
                </div>
                
                    </div>
<div class="row">

    <div class="col-12">

        <div class="form-group">
<button id="btnCosto" class="btn btn-outline-primary btn-block">Calcular Costo</button>

        </div>
    </div>
</div>


<div id="ImprimirResultado" class="alert alert-primary mt-3" role="alert">

</div>
</div>



    <script src="../js/app.js"></script>
</body>
</html>