<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
<h1 class="text-center">Almacen</h1>

    <div class="container">
        <div class="jumbotron">
            <label class="mt-3" for="">20% de descuento en compra de $1000</label>
            <div class="row">

                <div class="col-2">
                  
                    <label for="">Cantidad Vendida</label>
                    <div class="form-group">
                        <input id="IpCantidadV" type="text" class="form-control" placeholder="$">
                        
                    </div>
                </div>
            </div>
            <button id="btn" class="btn btn-primary">Calcular</button>

            <div id="ImpriAlert" class=" mt-3 alert alert-primary"></div>
 
        </div>
    </div>






    <script src="../js/app.js"></script>
  </body>
</html>