<!-- 2. Una compañía de viajes cuenta con cuatro tipos de autobuses (A, B, C y D), cada uno tiene un precio por kilómetro
recorrido por persona, los costos respectivos son $1.5, $2.0, $2.5 y $3.0. Se requiere determinar el costo total y por
persona del viaje considerando que cuando éste se presupuesta debe haber un mínimo de 20 personas, de lo contrario el
cobro se realiza con base en este número límite (20). -->


<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
            <h1 class="text-center" >Autobuses</h1>

           
    <div class="container">
        <div class="jumbotron">
          
            <br>
            <div class="row">
                <div class="col-3">
                    <strong><label for="">Tipo de autobus (A,B,C,D)</label></strong>
                    
                    <div class="form-group">
                        <input id="TipoDeAutobus" type="text" class="form-control">
                    </div>
                </div>
              
                <div class="col-3">
                    <strong><label for="">Kilometros Recorridos</label></strong>
                    
                    <div class="form-group">
                        <input id="KilometrosRecorridos" type="number" class="form-control">
                    </div>
                </div>
               
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button id="btn" class="btn btn-primary" >Calcular Tarifa</button>

                    <div class="mt-3" id="ZonePrint"> </div>
                </div>
            </div>
        </div>
    </div>

 

<script src="../js/app.js"></script>
</body>
</html>