<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="text-center">Triangulo</h1>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                    <label for="">Lado 1</label>
                        <input  id="lado1" type="text" class="form-control" placeholder="Lado 1">
                    </div>
                    
                </div>



                <div class="col-3">
                    <div class="form-group">
                    <label for="">Lado 2</label>
                        <input id="lado2" type="text" class="form-control" placeholder="Lado 2">
                    </div>
                    
                </div>
                <div class="col-3">
                    <div class="form-group">
                    <label for="">Lado 3</label>
                        <input id="lado3" type="text" class="form-control" placeholder="Lado 3">
                    </div>
                    
                </div>
               
            </div>
            <div class="col-3">
                <div class="form-group">
                
                    <button id="btn" class="btn btn-primary">Resultado</button>
                </div>



                <div id="ImprimirPerimetro" class="alert alert-primary mt-3" role="alert">sadsadsadsad</div>
       
                
            </div>

            <script src="../js/app.js"></script>
              
      
  </body>
</html>