<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="text-center">Plano carteciano</h1>

      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-3">
                      <div class="form-group">
                          <label class="h3" for="">Punto A</label><br>
                          <label for="">Cordenada x1</label>
                          <input id="x1" type="number" class="form-control" placeholder="Dijite cordenada X1">
                      </div>
                  </div>
              
              </div>
              <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Cordenada y1</label>

                        <input id="y1" type="number" class="form-control" placeholder="Dijite cordenada Y1">
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="h3" for="">Punto B</label><br>
                        <label for="">Cordenada x2</label>

                        <input id="x2" type="number" class="form-control" placeholder="Dijite cordenada X2">
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="">Cordenada y2</label>

                        <input id="y2" type="number" class="form-control" placeholder="Dijite cordenada Y2">
                    </div>
                </div>
            
                <button id="btn" class="btn btn-primary mt-4">Distancia</button>
                <div id="imprimir" class="alert alert-primary mt-3 alert2" role="alert">
            </div>
              



          </div>
          
      </div>

    <script src="../js/app.js"></script>
 </body>
</html>