<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <div class="jumbotron">
            <h1>Calificacion</h1>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="">Ingrese Calificacion</label>
                    <input id="ipCalificacion" type="number" class="form-control" >
                </div>
                </div>
                <div class="col-12">
                 
                    
                       <button id="btn" class="btn btn-success">Calcular</button>
                  
                    </div>
                
            </div>
        <div class="row mt-2">
            <div class="col-12">
            <div id="PrintAlert" class="alert alert-primary "></div>
            <audio id="audio" src="../audio/reprobado.mp3"></audio>
        </div>
        </div>
        </div>
    </div>

    <script src="../JS/app.js"></script>
      
</body>
</html>