<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
            <h1 class="text-center" >Calificacion Con Letras (A B C D)</h1>

           
    <div class="container">
        <div class="jumbotron">
          
            <br>
            <div class="row">
                <div class="col-2">
                    <strong><label for="">Calificacion (0-10)</label></strong>
                    
                    <div class="form-group">
                        <select name="" id="calificacion" class="form-control">

                                <option selected>--Selecciona--</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>


                        </select>
                    </div>
                </div>
              
            
               
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button id="btn" class="btn btn-primary" >Mostrar</button>

                    <div class="mt-3" id="ZonePrint"> </div>
                </div>
            </div>
        </div>
    </div>

 

<script src="../js/app.js"></script>
</body>
</html>