<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <h1 class="text-center">Paqueteria</h1>
    <div class="container">

        <div class="jumbotron">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="">A donde va dirijido</label>

                        <select name="" id="adonde" class="form-control">
                                <option value="11">America del norte</option>
                                <option value="10">America del central</option>
                                <option value="12">America del sur</option>
                                <option value="24">Europa</option>
                                <option value="27">Asia</option>

                        </select>

                        <label for="">Peso del paquete</label>
                        <input type="number" name="" id="kilos" class="form-control">




                        <button id="btn" class="btn btn-primary mt-3">Calcular</button>
                    </div>
                

        </div>
    </div>

<script src="../js/app.js"></script>
</body>
</html>